/node_modules
/public
/public/hot
/public/storage
/storage
/storage/*.key
/database
/Fuoye360_vue.zip
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public.zip
/resources/js
/resources/sass
server.php